[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = "3.7"

[packages]
pandas = "*"
google = "*"
protobuf = "*"
google-ads = "*"
oauth2client = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
awswrangler = "*"
fastparquet = "*"
boto3 = "*"
s3fs = "*"
apache-airflow = "*"
